<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  <div class="h2 Smollan-dark-blue-text ">Product Management (CRUD)</div>

</div>

<div class="mat-elevation-z8 m-5">

    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="ProductCode">
        <th mat-header-cell *matHeaderCellDef> Product Code </th>
        <td mat-cell *matCellDef="let element"> {{element.ProductCode}} </td>
      </ng-container>
  
      <ng-container matColumnDef="ProductDescriptionOriginal">
        <th mat-header-cell *matHeaderCellDef> Product Desc Original </th>
        <td mat-cell *matCellDef="let element"> {{element.ProductDescriptionOriginal}} </td>
      </ng-container>
  
      <ng-container matColumnDef="ProductDescription">
        <th mat-header-cell *matHeaderCellDef> Product Description </th>
        <td mat-cell *matCellDef="let element"> {{element.ProductDescription}} </td>
      </ng-container>

      <ng-container matColumnDef="ProductCategory">
        <th mat-header-cell *matHeaderCellDef> Product Category </th>
        <td mat-cell *matCellDef="let element"> {{element.ProductCategory}} </td>
      </ng-container>

      <ng-container matColumnDef="ProductStatus">
        <th mat-header-cell *matHeaderCellDef> Product Product Status </th>
        <td mat-cell *matCellDef="let element"> {{element.ProductStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="ProductBarcode">
        <th mat-header-cell *matHeaderCellDef> Product Barcode </th>
        <td mat-cell *matCellDef="let element"> {{element.ProductBarcode}} </td>
      </ng-container>

      <ng-container matColumnDef="Rowchecksum">
        <th mat-header-cell *matHeaderCellDef> Row check sum </th>
        <td mat-cell *matCellDef="let element"> {{element.Rowchecksum}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="editProduct(element)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="warn" (click)="deleteProduct(element.id)"><mat-icon>delete_outline</mat-icon></button>
        </td>
    </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [ngClass]="{'editable-row': productData.id === row.id}"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>